.tr {

    border: 1px black;
  
    display: flex;
  
  }
  
  .td {
  
    display: flex;
  
  }
  
  .Modal {
  
    position: center;
  
    margin: 7rem;
  
    padding: 5rem;
  
    border: black;
  
    border-radius: 3px;
  
    background-color: rgb(80, 183, 209);
  
  }
  
   